# First Demo


## Demonstrating how to use jupyter notebooks to spring data 2024.

Data from this project was <a href="https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9/about_data"> collected for 311 </a> on jan. 29, 2024. 

- #### item one
- item two

<img src="https://static01.nyt.com/images/2024/01/26/multimedia/00pol-voterconfusion-topart-lpwv/00pol-voterconfusion-topart-lpwv-threeByTwoMediumAt2X-v2.jpg?format=pjpg&quality=75&auto=webp&disable=upscale">

In [1]:
print ("Hello World!")

Hello World!

In [2]:
1200 - 500

700

In [3]:
100_000_000

100000000

In [4]:
monthly_income = 1_200

In [5]:
monthly_income

1200

In [6]:
monthly_rent = 500

In [7]:
balance = monthly_income - monthly_rent

In [8]:
balance = balance - food_expense
balance

NameError: name 'food_expense' is not defined